import "log"
import "match"

option ms-classless-static-routes(249) = int[8]
option rfc3442-classless-static-routes(121) = int[8]
default-lease-time = max-lease-time = 172800
authoritative = true
log-facility = local7

if exists agent.circuit-id:
	log.raw()
	log.dlink()
	log.alter()
	log.snr()
	log.eltex_lte()

shared-network ISC:
	option dns-servers 8.8.8.8
	subnet 192.168.0.253/32:
	subnet 192.168.0.128/26:
	subnet 192.168.0.000/25:
		option routers 192.168.0.1

	match.eltex.switch_ip(192.168.0.1):
		match.eltex.vlan(102) and match.eltex.port(2):
			range 192.168.0.35
		match.eltex.vlan(103) and match.eltex.port(3):
			range 192.168.0.36

	match.dlink.switch_ip(192.168.0.129):
		match.dlink.vlan(104):
			match.dlink.port(4):
				range 192.168.0.37
			match.dlink.port(5):
				range 192.168.0.38
