# отличия от оригинала
# - импорты
# - простое объявление массивов
# - множественное присваивание
# - табы вместо скобок
# - применение опций ко всем нижележащим нодам переносом их в родительскую
# - древовидные match'и и описания подсеток
# - поддержка коротких маск + использование их из описания в качестве option subnet-mask
# - логические выражение для упрощения деревьев
# - поддержка простых функций

import "log"
import "match"

option ms-classless-static-routes(249) = int[8]
option rfc3442-classless-static-routes(121) = int[8]
default-lease-time = max-lease-time = 172800
authoritative = true
log-facility = local7

if exists agent.circuit-id:
	context log:
		dlink
		eltex

network ISC:
	option dns-servers 8.8.8.8
	subnet 192.168.0.253/32:
	subnet 192.168.0.128/26:
	subnet 192.168.0.000/25:
		option routers 192.168.0.1

	context = match.eltex
	switch_ip 192.168.0.1:
		vlan(102) and port(2):
			range 192.168.0.35
		vlan(103) and port(3):
			range 192.168.0.36
	
	context = match.dlink
	switch_ip 192.168.0.129:
		vlan 104:
			port 4:
				range 192.168.0.37
			port 5:
				range 192.168.0.38
